@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body {
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    background: black;
}

.container {
    height: 100%;
    width:100vw;
    background-image: linear-gradient(to bottom right, #55555e 0%, #05050e 100%);
    display: grid;
    grid-template-columns: 1fr repeat(5, min-content) 1fr;
    grid-template-rows: 10vh  repeat(8, 1fr) 10vh;
    justify-items: center;
}

#title {
    grid-area: 1 / 2 / span 1 / span 5;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3.5vw;
    margin: 0;
    margin-top: 10px;
}
p {
    font-size: 1vw;
}

.imgSize1 {
    width: 12vw;
}

.imgSize2 {
    width: 15vw;
}

.imgSize3 {
    width: 35vw;
}

.subcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ride {
    grid-area: 2 / 4 / span 3 / span 1; 
    width: 12vw;
    border-radius: 50%;
    z-index: 10;
}
#hihat {
    grid-area: 5 / 2 / span 2 / span 1; 
    border-radius: 50%;
}
#snare {
    grid-area: 4 / 3 / span 3 / span 1; 
    border-radius: 50%;
    z-index: 10;
}
#tom {
    grid-area: 4 / 5 / span 3 / span 1; 
    border-radius: 50%;
    z-index: 10;
}
#clap {
    grid-area: 5 / 6 / span 2 / span 1; 
    border-radius: 50%;
    z-index: 10;
}
#closehat {
    grid-area: 7 / 2 / span 2 / span 1; 
    border-radius: 50%;
    z-index: 10;
}
#kick {
    grid-area: 4 / 3 / span 6 / span 3; 
    border-radius: 50%;
    z-index: 0;
}
#boom {
    grid-area: 7 / 6 / span 2 / span 1; 
    border-radius: 50%;
    z-index: 10;
}

#tink {
    grid-area: 3 / 6 / span 2 / span 1; 
    border-radius: 50%;
    z-index: 10;
}

.pedal {
    height: 20vh;
}

#ridePic {

}
#hihatPic {
    
}
#snarePic {
    
}
#tomPic {
    
}
#clapPic {
    
}
#closehatPic {
    
}
#kickPic {
    
}
#tinkPic {
    
}
#boomPic {
    
}

.cymbalAnim {

}

.drumAnim {

}

@keyframes cymbalAnimation {
    0% {
        transform: rotateX(0deg);
    }
    25% {
        transform: rotateX(40deg);
    }
    50% {
        transform: rotateX(0deg);
    }
    75% {
        transform: rotateX(-40deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes drumAnimation {
    0% {
        transform: rotateX(0deg) scale(1);
    }
    25% {
        transform: rotateX(40deg) scale(1.2);
    }
    50% {
        transform: rotateX(0deg) scale(0.95);
    }
    75% {
        transform: rotateX(-40deg) scale(1.1) ;
    }
    100% {
        transform: rotateX(0deg) scale(1);
    }
}



