@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body {
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    background: black;
}

.container {
    height: 100vh;
    width:100%;
    background-image: linear-gradient(to bottom, #3c3c58 0%, #010114 100%);
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr) 1fr;
    grid-template-rows: 10vh  repeat(8, 1fr) 1vh;
    justify-items: center;
}

#title {
    grid-area: 1 / 2 / span 1 / span 5;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3.5vw;
    margin: 0;
    margin-top: 10px;
}
p {
    font-size: 1vw;
}

.imgSize1 {
    width: 12vw;
}

.imgSize2 {
    width: 15vw;
}

.imgSize3 {
    width: 35vw;
}

.subcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ride {
    grid-area: 2 / 4 / span 3 / span 1; 
    width: 12vw;
    z-index: 20;
}
#hihat {
    grid-area: 5 / 2 / span 2 / span 1; 
    border-radius: 50%;
}
#snare {
    grid-area: 4 / 3 / span 3 / span 1; 
    z-index: 10;
}
#tom {
    grid-area: 4 / 5 / span 3 / span 1; 
    z-index: 10;
}
#clap {
    grid-area: 5 / 6 / span 2 / span 1; 
    z-index: 10;
}
#closehat {
    grid-area: 7 / 2 / span 2 / span 1; 
    z-index: 10;
}
#kick {
    grid-area: 4 / 3 / span 6 / span 3; 
    z-index: 0;
    overflow: hidden;

}
#boom {
    grid-area: 7 / 6 / span 2 / span 1; 
    z-index: 10;
}

#tink {
    grid-area: 3 / 6 / span 2 / span 1; 
    z-index: 10;
}

#ride::after {
    grid-area: 2 / 4 / span 3 / span 1; 
    width: 12vw;
    z-index: 20;
}
#hihat::after {
    grid-area: 5 / 2 / span 2 / span 1; 
    border-radius: 50%;
}
#snare::after {
    grid-area: 4 / 3 / span 3 / span 1; 
    z-index: 10;
}
#tom::after {
    grid-area: 4 / 5 / span 3 / span 1; 
    z-index: 10;
}
#clap::after {
    grid-area: 5 / 6 / span 2 / span 1; 
    z-index: 10;
}
#closehat::after {
    grid-area: 7 / 2 / span 2 / span 1; 
    z-index: 10;
}
#kick::after {
    grid-area: 4 / 3 / span 6 / span 3; 
    z-index: 0;
    overflow: hidden;

}
#boom::after {
    grid-area: 7 / 6 / span 2 / span 1; 
    z-index: 10;
}

#tink::after {
    grid-area: 3 / 6 / span 2 / span 1; 
    z-index: 10;
}

.pedal::after {
    max-height: 20vh;
    max-width: 25vw;
}

#ridePic::after {
    content: "T";
}
#hihatPic::after {
    content: "T";
}
#snarePic::after {
    content: "T";
}
#tomPic::after {
    content: "T";
}
#clapPic::after {
    content: "T";
}
#closehatPic::after {
    content: "T";
}
#kickPic::after {
    content: "T";
}
#tinkPic::after {
    content: "T";
}
#boomPic::after {
    content: "T";
}

@media only screen and (orientation: portrait) {
    .container {
        grid-template-columns: repeat(8, 12.5%);
        grid-template-rows: repeat(12, 8.33%);
        justify-items: center;
    }
    #title {
        grid-area: 1 / 1 / span 1 / span 8;

    }
    #title h1 {
        font-size: 3em;
    }
    #title p {
        display: none;
    }
    #ride {
        grid-area: 2 / 4 / span 2 / span 2; 
        width: 25vw;
        height: 25vw;
    }
    #ridePic {
        width: 30vw;
        height: 30vw;
    }
    #hihat {
        grid-area: 7 / 2 / span 3 / span 2; 
        width: 30vw;
        height: 30vw;
        z-index: 10;
        align-self: center;
    }
    #hihatPic {
        width: 30vw;
        height: 30vw;
    }
    #snare {
        grid-area: 3 / 2 / span 2 / span 2; 
        width: 40vw;
        height: 40vw;
    }
    #snarePic {
        width: 40vw;
        height: 40vw;
    }
    #tom {
        grid-area: 3 / 6 / span 3 / span 2; 
        width: 40vw;
        height: 40vw;
    }
    #tomPic {
        width: 40vw;
        height: 40vw;
    }

    #clap {
        grid-area: 9 / 5 / span 2 / span 3;
    }
    #clapPic {
        width: 25vw;
        height: 25vw;   
    }

    #closehat {
        grid-area: 10 / 2 / span 2 / span 2; 
    }

    #closehatPic {
        width: 25vw;
        height: 25vw;
    }

    
    #kick {
        grid-area: 3 / 2 / span 4 / span 6; 
        width: 80vw;
        height: 75vw;

    }



    #kickPic {
        width: 80vw;
        height: 75vw;
    }
    #boom {
        grid-area: 11 / 5 / span 2 / span 3; 

    }
    #boomPic {
        width: 25vw;
        height: 25vw;
    }
    
    #tink {
        grid-area: 7 / 5 / span 2 / span 3; 

    }
    #tinkPic {
        width: 30vw;
        height: 30vw;
    }
}

@media only screen and (max-width: 360px) {
    #title h1 {
        font-size: 2em;
    }
}